body{
    background: #ffffff;
    margin: 0px;
    font-family: sans-serif,helvetica;
    /*//line-height: 15px;*/
    color: white;
    background: #ccffff;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*pannel*/
#panel{
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width:200px;
    background: #66CCFF;
    text-align:center;
}
#panel #title{
    margin-top: 30px;
}
#title1{
    font-size: 30px;
}
#title2{
    font-size: 20px;
}
#myInfo{
    padding: 0;
    margin: 0 10px 0 20px;
    list-style: none;
    text-align:left;
    border-top: 1px #e1e4e8 solid !important;
    border-bottom: 1px #e1e4e8 solid !important;
}
#head_portrait{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: 16px 16px;
}
.m_span div{
    word-wrap:break-word;
    font-size: 15px;
    display: inline;
}
.pannel_a{
    font-size: 15px;
    color: #666999;
    text-decoration:none;

}
.myInfo_li{
    margin: 5px 0px;
}
.icon {
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/*content*/
#content{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 200px;
    padding: 10px 20px 10px 30px;
    background: #ccffff;
}

.pr_box img{
    display: block; /*//加上这行可以让父元素大小严格对齐*/
    width: 100%;
    height: 100%;
}
.pr_box{
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    margin: 10px 10px;
    border: 4px solid #66CCFF;
    border-radius: 0.5em;
    overflow:hidden;
}
.pr_box:hover{
    border-style:dashed;
}
.box_head{
    top:0px;
    right: 0px;
    position: absolute;
    display: block;
    background: #66CCFF;
    color: #fff;
}
