body{
    background: #ffffff;
    margin: 0px;
    font-family: sans-serif,helvetica;
    /*//line-height: 15px;*/
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*pannel*/
#panel{
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width:200px;
    background: #66CCFF;
}
#head_portrait{
    width: 150px;
    height: 150px;
}
#panel #tittle{
    background: #faf;
}
#panel #message{
    background: #fa0;
}

/*content*/
#content{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 200px;
    padding: 50px 50px;
    background: #fff;
}

.pr_box img{
    display: block; /*//加上这行可以让父元素大小严格对齐*/
    width: 100%;
    height: 100%;
}
.pr_box{
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    margin: 10px 20px;
    border: 4px solid #c05;
    border-radius: 0.5em;
    overflow:hidden;
}
.pr_box:hover{
    border-style:dashed;
}
.box_head{
    top:0px;
    right: 0px;
    position: absolute;
    display: block;
    background: #c05;
    color: #fff;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-bubbles {
  width: 1.125em;
}
