<div id = "content">
    <h2>my projects</h2>
    <div id = "projects">
        <div class = "pr_box" >
            <div class="box_head" >diqiudiqiu</div>
            <a href="http://tiedh.bid" target="_blank" >
            <img src="1.jpg" alt="fsdaf"style="width:500px;height:300px;">
            </a>    
        </div>
    </div>
    <script>
    (function getprojects(){
        $.get('init')
        alert('OK');
    });
    </script>
</div>