<div id = "content">
    <h3><%=index_info.content.title%></h3>
    <div id = "projects">
    </div>
    <script>
    function creatbox(headT,a_link,img_link){  
        var box = document.createElement('div');
        box.setAttribute('class','pr_box');
        var head = document.createElement('div');
        head.setAttribute('class','box_head');
        head.innerHTML = headT;
        box.appendChild(head);
        var a = document.createElement('a');
        a.setAttribute('href',a_link);
        a.setAttribute('target','_blank');
        var img = document.createElement('img');
        img.setAttribute('src',img_link);
        img.setAttribute('alt',img_link+' not find!');
        img.setAttribute('style',"width:500px;height:300px;");
        a.appendChild(img);
        box.appendChild(a);
        return box;
    }
    (function getprojects(){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open('GET','content',true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState ==4 && xmlhttp.status == 200){
                 var dom = document.getElementById('projects');
                 var prList = JSON.parse(xmlhttp.responseText);
                 for(var i =0;i<prList.length;i++){
                     if(!prList[i].href.match('http')) prList[i].href =  '/projects/'+prList[i].href;
                     dom.appendChild(creatbox(prList[i].info,prList[i].href,'/projects_img/'+prList[i].img_href));
                 }
                    resize();
            }
        }
       
    })();
    var projects = document.getElementById( 'projects' );
    function resize() {
       var fullWidth = projects.clientWidth;
        var widtht =  (fullWidth-80)/2;
        if(widtht < 200)
            widtht *= 2;
        var heightt = widtht* 0.6;
        for ( var i = 0; i < projects.children.length; i ++ ) {
            var child = projects.children[ i ].children[1].children[0];
            child.style.width = widtht + 'px';
            child.style.height = heightt + 'px';
        }
        //console.log(fullWidth,widtht,heightt);
    }
    window.addEventListener( 'resize', resize, false );
    
    </script>
</div>