<div id="panel">
    <div id = "tittle">
        <h1><%= index_info.pannel.tittle%></h1> 
        <h3><a target="_blank" href=<%= index_info.pannel.github%>>GIT</a>
        </h3>
    </div>
    <div id = "message">
        <h3><%= index_info.pannel.message%></h3>
    </div>
</div>